#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root .gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#root .interaction {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  gap: 50px;
}